@font-face {
  font-family: 'PingFang-Medium';
  src: url('../fonts/PingFang-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PingFang-Medium';
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img[v-lazyload] {
  opacity: 0;
  transition: opacity 0.3s ease;
}

img[v-lazyload].loaded {
  opacity: 1;
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}