@font-face {
  font-family: 'PingFang-Medium';
  src: url('../fonts/PingFang-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PingFang-Medium';
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.lazy-image {
  transition: opacity 0.3s ease;
}

.lazy-image.lazy-loading {
  background-color: #f5f5f5;
  opacity: 0;
}

.lazy-image.lazy-loaded {
  opacity: 1;
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}